variables:
  DEFAULT_TAG: "latest"
  BUILD_TYPE:
    value: "none"
    options: 
      - "none"
      - "ami"
      - "qcow2"
      - "vmdk"
      - "anaconda-iso"
      - "raw"
      - "vhd"
      - "gce"
    description: "The image type to build"

default:
  image: quay.io/buildah/stable

stages:
  - build
  - artifact

.registry-login:
  before_script:
    - buildah login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

.get-image-info:
  script:
    - export IMAGE_DATE=$(date -u +%Y%m%d)
    - export BUILD_TAG="$CI_REGISTRY_IMAGE/${BUILD_TARGET}:${DEFAULT_TAG}"
    - export BUILD_TAG_DATED="$CI_REGISTRY_IMAGE/${BUILD_TARGET}:${DEFAULT_TAG}.${IMAGE_DATE}"

build-base:
  extends:
    - .registry-login
    - .get-image-info
  stage: build
  variables:
    BUILD_TARGET: "base"
    CONTAINERFILE: "Containerfile"
  script:
    - buildah build-using-dockerfile -f ${CONTAINERFILE} --target ${BUILD_TARGET} -t ${BUILD_TAG} -t ${BUILD_TAG_DATED} .
    - buildah push ${BUILD_TAG} docker://${BUILD_TAG}
    - buildah push ${BUILD_TAG_DATED} docker://${BUILD_TAG_DATED}

build-nginx:
  extends:
    - .registry-login
    - .get-image-info
  stage: build
  variables:
    BUILD_TARGET: "nginx"
    CONTAINERFILE: "Containerfile"
  script:
    - buildah build-using-dockerfile -f ${CONTAINERFILE} --target ${BUILD_TARGET} -t ${BUILD_TAG} -t ${BUILD_TAG_DATED} .
    - buildah push ${BUILD_TAG} docker://${BUILD_TAG}
    - buildah push ${BUILD_TAG_DATED} docker://${BUILD_TAG_DATED}

build-k3s:
  extends:
    - .registry-login
    - .get-image-info
  stage: build
  variables:
    BUILD_TARGET: "k3s"
    CONTAINERFILE: "k3s/Containerfile"
  script:
    - buildah build-using-dockerfile -f ${CONTAINERFILE} --target ${BUILD_TARGET} -t ${BUILD_TAG} -t ${BUILD_TAG_DATED} .
    - buildah push ${BUILD_TAG} docker://${BUILD_TAG}
    - buildah push ${BUILD_TAG_DATED} docker://${BUILD_TAG_DATED}

build-prometheus:
  extends:
    - .registry-login
    - .get-image-info
  stage: build
  variables:
    BUILD_TARGET: "prometheus"
    CONTAINERFILE: "Containerfile"
  script:
    - buildah build-using-dockerfile -f ${CONTAINERFILE} --target ${BUILD_TARGET} -t ${BUILD_TAG} -t ${BUILD_TAG_DATED} .
    - buildah push ${BUILD_TAG} docker://${BUILD_TAG}
    - buildah push ${BUILD_TAG_DATED} docker://${BUILD_TAG_DATED}

build-artifact:
  image: quay.io/podman/stable
  stage: artifact
  needs:
    - build-base
  variables:
    ARTIFACT_FLAVOR: "base"
  before_script:
    - podman login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - podman pull $CI_REGISTRY_IMAGE/${ARTIFACT_FLAVOR}:${DEFAULT_TAG}
    - mkdir -p output
    - echo "Building ${BUILD_TYPE} artifact for ${ARTIFACT_FLAVOR}"
    - |
      podman run --rm --privileged \
      -v $(pwd)/output:/output \
      -v /var/lib/containers/storage:/var/lib/containers/storage \
      quay.io/centos-bootc/bootc-image-builder:latest \
      --type ${BUILD_TYPE} \
      $CI_REGISTRY_IMAGE/${ARTIFACT_FLAVOR}:${DEFAULT_TAG}
    - echo "Artifact build completed successfully"
  artifacts:
    paths:
      - output/*
    expire_in: 30 days
    when: on_success
  rules:
    - if: $BUILD_TYPE != "none"