[Unit]
Description=Run a nginx webserver

[Container]
Image=docker.io/library/nginx
PublishPort=6443:6443
AutoUpdate=registry
Volume=/etc/nginx:/etc/nginx:z

[Install]
WantedBy=default.target
